<article class="post">
  <div class="title">
    <p id="post-title">{{post.title}}</p>
    <p>posted by {{post.user.username}} on {{format_date post.created_at}}</p>
  </div>
  <div class="meta">
    <p>{{post.content}}</p>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{>comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}